spring:
  application:
    name: assess-pro

  # PostgreSQL Configuration
  datasource:
    url: jdbc:postgresql://localhost:5433/dev_postgres
    username: postgres
    password: postgres  # Замените на ваш пароль
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
        default_schema: assess_pro_db
    show-sql: true
    open-in-view: false

  # Liquibase Configuration (опционально)
  liquibase:
    enabled: false  # Временно отключено, включите после создания миграций
    change-log: classpath:db/changelog/master.yaml

  # Thymeleaf Configuration
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

  # SQL Initialization
  sql:
    init:
      mode: never

# Server Configuration
server:
  port: 8080

# Logging Configuration
logging:
  level:
    com.frist.assesspro: DEBUG
    org.springframework.security: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE