<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="banner mb-4">
        <img th:src="@{/images/materials/vilhelm-banner.jpg}"
             alt="Vilhelm Parfumerie Banner"
             class="img-fluid w-100 rounded-4 shadow-sm"
             style="max-height: 300px; object-fit: cover;">
    </div>
    <p><strong>Произношение: </strong>[Вильгельм Парфюмери́]</p>
    <p class="first-letter"><strong>Основание и философия: </strong><br/>
        Бренд основан в 2015 году в Нью-Йорке ведущим французским парфюмером Жеромом Эпинеттом (Jérôme Epinette). Vilhelm Parfumerie - это молекулярная парфюмерия будущего - бренд, основанный на идее эстетического дополнения естественного запаха человеческого тела. Коллекция ароматов с аурой феромонов, непредсказуемых в своем раскрытии на коже, композиции, которые органично встраиваются в молекулярную структуру запаха тела. Каждую минуту аромат раскрывает новые грани вашей индивидуальности.
    </p>
    <p><strong>Дизайн:</strong><br/>
        Узор на коробке – это название аромата написанное друг за другом бесконечное число раз, буквы визуально сливаются в единый орнамент.<br/>
        Узнаваемые флаконы со спиральным узором создал легендарный дизайнер Пьер Динан (Pierre Dinand), Узоры на флаконе повторяют узоры хрустальных бокалов ресторана Maxim –самого роскошного и богемного ресторана Парижа начала XX века.<br/>
        Желтый цвет упаковки - символ счастья. Длина волны желтого цвета воспринимается нашим мозгом как источник радости и хорошего настроения.<br/>
        Лотос на крышке флакона –В парфюмерии лотос относится к «немым» цветам – его нельзя дистиллировать и получить из него ароматное масло. Таким образом, лотос также является символом того, что в парфюмерии можно воссоздать всё, что угодно.
    </p>
    <p><strong>Вдохновение и философия бренда:</strong><br/>
        Vilhelm Parfumerie -  это современная эстетика парфюмерного языка. Бренд, где каждый аромат – одна из форм искусства.<br/>
        Цель создателей бренда парфюмеров, дизайнеров, художников - создать парфюмерию будущего, ароматы, которые будут не скрывать, а раскрывать естественную привлекательность человека. Сплетаясь с запахом тела, молекулы ароматов Vilhelm  Parfumerie превращаются в манящую и эстетически совершенную ауру, чей эффект сравним с эффектом феромонов.
    </p>
    <p><strong>Ароматы как истории:</strong><br/> Источники вдохновения разбросанные по всему миру, романтичные истории, неожиданные открытия и сокровенные воспоминания получают здесь свое изысканное ароматное воплощение. От детских воспоминаний о летних каникулах до фантазии на тему лондонского дождя и парижского утра 1900-х годов.<br/>
        Каждый парфюм — это личное воспоминание, воображаемая сцена или дань уважения какому-либо событию или личности. Например, Morning Chess переносит в летние дни, проведенные за игрой в шахматы с дедом в Швеции, а Dear Polly — это «любовное письмо» супруге основателя, Полли.
    </p>
    <p><strong>Парфюмеры и создание ароматов</strong><br/>
        Бренд базируется в Париже, все ароматы и разрабатываются и производятся корпорацией Роберте (Robertet Group). Флагманский бутик VP расположен в Париже - «Золотом треугольнике» на улице Пьера Шаррона.<br/>
        Создатель всех ароматов VP - Жером Эпинетт (Jérôme Epinette), всемирно известный парфюмер, известный также по работе с брендами Byredo и Atelier Cologne.<br/>
        Сегодня ароматы Vilhelm Parfumerie представлены по всему миру, в том числе в известных универмагах (Barneys New York, Liberty London) и в России — в сети магазинов Molecule.
    </p>
    <p><strong>Важные фразы:</strong></p>
    <ul>
        <li>VP – молекулярная парфюмерия будущего.</li>
        <li>VP – это макияж для кожи.</li>
        <li>VP – это ароматы с «двойным дном», непредсказуемые в своем раскрытии на коже благодаря специальным молекулам.</li>
        <li>VP – это ароматы с эффектом ауры феромонов.</li>
        <li>VP – современная эстетика парфюмерного языка.</li>
    </ul>
    <h4>Коллекции бренда:</h4>
    <ul>
        <li>Основная коллекция</li>
        <li>Коллекция Hannibal (Ганнибал)</li>
    </ul>
    <p><strong>Sparkling Jo / Искрящаяся Джо</strong><br/>Беззаботное веселье гламурного вечера в Париже 20-х годов. Аромат словно зажигательный и эротичный танец Жозефины Бейкер.<br/>Ключевой компонент: шампанское.</p>
    <p><strong>Back to the roots / Возвращение к корням</strong><br/>Аромат высшего света, изысканная, классическая элегантность. Античный сад, залитый светом.<br/>Ключевой компонент: оррис (корень ириса).</p>
    <p><strong>Faces of Francis / Образы Фрэнсиса</strong><br/>Аромат мастерской художника. Пробуждение чувств и сладкий вкус творческого вдохновения.<br/>Ключевой компонент: аккорд фисташек.</p>
    <p><strong>London funk / Лондонский Фанк</strong><br/>Бунтарская атмосфера сексуальной революции 60-70х годов. Рок-н-рольное чаепитие в Лондоне с коктейлем лонг-айленд айс ти и марихуаной.<br/>Ключевой компонент: марихуана.</p>
    <p><strong>To my father / Моему отцу</strong><br/>Аромат - посвящение и хранитель воспоминаний. Воплощение благородства, силы и уверенности.<br/>Ключевой компонент: виски и сигары</p>
    <p><strong>Morning chess / Утренние шахматы</strong><br/>Ощущение пребывания на побережье, где воздух пропитан свежестью летней зелени, ароматом моря и светом утреннего солнца.<br/>Ключевой компонент: влажный табак с соленым привкусом моря.</p>
    <p><strong>Dear Polly / Дорогая Полли</strong><br/>Эликсир, исполненный нежности и любви, чувственности и желания. Утренний поцелуй возлюбленного.<br/>Ключевой компонент: чай Эрл Грей.</p>
    <p><strong>Room Service / Обслуживание номеров</strong><br/>Пьянящий эротизм и провокационная отстраненность. Шелк, струящийся по обнаженной коже.<br/>Ключевой компонент: мускус, шампанское.</p>
    <p><strong>Mango skin / Манговая кожа</strong><br/>Средоточие удовольствий! Флирт, любовь, игра и ощущение бесконечного счастья. Пьянящий и волнующий, как манговый сок на коже.<br/>Ключевой компонент: манго с кокаином.</p>
    <p><strong>125th&Bloom / Цветение Гарлема</strong><br/>Ароматная душа Нью-Йорка, богемный район Гарлем.<br/>Ключевой компонент: кожаные цветы.</p>
    <p><strong>Black Citrus / Черный цитрус</strong><br/>Чистое дыхание Лондона после проливного дождя. Аромат английского тумана.<br/>Ключевой компонент: листья матэ.</p>
    <p><strong>Basilico&Fellini / Базилико Феллини</strong><br/>Первый в мире холодный, зеленый афродизиак.<br/>Ключевой компонент: базилик, питахайя.</p>
    <p><strong>Darling Nikki / Дорогой Никки</strong><br/>Пленительная атмосфера закрытого ночного клуба. Аромат запретных удовольствий.<br/>Ключевой компонент: бобы тонка.</p>
    <p><strong>Dirty velvet / Непристойный бархат</strong><br/>Сигарный дым, бархат розовых лепестков, красное вино и бархатный джаз Майлза Дэвиса.<br/>Ключевой компонент: элеми.</p>
    <p><strong>Do not disturb / Не беспокоить</strong><br/>Атмосфера легендарного клуба Studio 54. Чувственные запретные удовольствия.<br/>Ключевой компонент: амброксан, ирис.</p>
    <p><strong>Fleur Burlesque / Цветок Бурлеска</strong><br/>Роковой цветок бурлеска. Светская львица прекрасной эпохи.<br/>Ключевой компонент: букет белых цветов.</p>
    <p><strong>Moon carnival / Лунный карнавал</strong><br/>Самое громкое признание в любви! Ароматный блеск карнавала в Рио-де Жанейро. Страстное танго туберозы в лунных объятьях.<br/>Ключевой компонент: тубероза.</p>
    <p><strong>Opus Kore / Поэма о Коре</strong><br/>Ароматная ода весне, цветущим садам, солнцу и музыке цветов. Первый весенний солнечный день.<br/>Ключевой компонент: ягоды Асаи.</p>
    <p><strong>Poets of Berlin / Берлинские поэты</strong><br/>Поэзия Дэвида Боуи. Черничные ночи Берлина.<br/>Ключевой компонент: аккорд черничного маффина.</p>
    <p><strong>Purple fig / Пурпурный инжир</strong><br/>Сладкий вкус жизни. Инжир, шампанское, любовь – игривый коктейль, яркий и опьяняющий.<br/>Ключевой компонент: шампанское, инжир.</p>
    <p><strong>Smoke show / Дымное шоу</strong><br/>Собирательный образ Нью-Йоркских джазовых клубов. Джазовая импровизация на коже.<br/>Ключевой компонент: кожа, табачный дым.</p>
    <p><strong>Stockholm 1978 / Стокгольм 1978</strong><br/>Пьянящий аромат летнего Стокгольма. Для детской части вашей души!<br/>Ключевой компонент: миндаль, розмарин.</p>
    <p><strong>The oud affair / Удовая интрига</strong><br/>Вдохновлен бурным романом между актрисой Авой Гарднер и тореадором Луисом Мигелем Домингином. Любовная битва. Страсть по-испански.<br/>Ключевой компонент: уд, мед.</p>
    <p><strong>Modest mimosa / Застенчивая мимоза</strong><br/>Ангельское очарование любви.<br/>Ключевой компонент: мимоза.</p>
    <p><strong>Body paint / Краска для тела</strong><br/>Новый, радикальный взгляд на парфюмерию. Коктейль, пробуждающий чувства.<br/>Ключевой компонент: грушевый сок, перец чили.</p>
    <p><strong>Chicago high / Высокий Чикаго</strong><br/>Вечеринка в особняке Великого Гэтсби. Лист табака, пропитанный драгоценным виски или коньяком.<br/>Ключевой компонент: шампанское, виски</p>
    <p><strong>Dear Lord / Дорогой Лорд</strong><br/>Магнетическая сила притяжения. Атрибут современного лорда.<br/>Ключевой компонент: сандал, пало санто.</p>
    <p><strong>Great lord / Великий лорд</strong><br/>Пленительная ароматная харизма успеха. Наркотик из силы и власти. Неиссякаемый источник могущества.<br/>Ключевой компонент: темная кожа, мякоть сливы, акигалавуд</p>
    <p><strong>Sun cities / Солнечные города</strong><br/>Аромат солнечных городов Средиземноморья. Слияние солнца и роскоши. Изысканные декорации к истории любви.<br/>Ключевой компонент: светлая кожа, мякоть ананаса, акигалавуд</p>
    <p><strong>Chimilka / Белый персик</strong><br/>Нежная сила любви. Белый сливочный персик на бархатной замше.<br/>Ключевой компонент: бархатная замша, бархатный персик, акигалавуд</p>

    <hr class="my-4">
    <div class="text-end">
        <div th:if="${role == 'ROLE_TESTER'}">
            <a th:href="@{/tester/catalog/category/3}" class="btn btn-elegant">
                <i class="bi bi-grid"></i>Перейти к тестам по этому бренду
            </a>
            <a href="#" class="btn btn-elegant" onclick="window.scrollTo({top:0,behavior:'smooth'}); return false;">
                <i class="bi bi-arrow-up"></i>Наверх
            </a>
        </div>
        <div th:if="${role == 'ROLE_CREATOR'}">
            <a href="#" class="btn btn-elegant" onclick="window.scrollTo({top:0,behavior:'smooth'}); return false;">
                <i class="bi bi-arrow-up"></i>Наверх
            </a>
        </div>
    </div>
</div>
</body>
</html>