<div th:fragment="footer" class="container-fluid bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="bi bi-check-circle-fill text-success me-2"></i>AssessPro</h5>
                <p class="small">Платформа для создания и прохождения тестов. Оценивайте знания эффективно!</p>
            </div>
            <div class="col-md-4">
                <h6>Контакты</h6>
                <p class="small mb-1"><i class="bi bi-envelope me-2"></i>support@assesspro.ru</p>
                <p class="small mb-1"><i class="bi bi-telephone me-2"></i>+7 (999) 123-45-67</p>
            </div>
            <div class="col-md-4">
                <h6>Мы в соцсетях</h6>
                <a href="#" class="text-light me-3"><i class="fab fa-telegram fa-lg"></i></a>
                <a href="#" class="text-light me-3"><i class="fab fa-vk fa-lg"></i></a>
                <a href="#" class="text-light"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="text-center small">
            &copy; 2024 AssessPro. Все права защищены.
        </div>
    </div>
</div>